source https://api.nuget.org/v3/index.json

nuget Suave
nuget Argu
nuget FSharpApiSearch

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget KuduSync.NET
  nuget Npm.js
  nuget FSharp.Formatting

  github hafuu/FSharpApiSearch:7acdbcf0b0a7f3331e00d8ebeea816dfab9492ea README.md
