source https://api.nuget.org/v3/index.json

group App
  source https://api.nuget.org/v3/index.json

  nuget Suave
  nuget Argu
  nuget FSharpApiSearch >= 2.0.0-beta1
  nuget FsYaml

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget KuduSync.NET
  nuget Npm.js
  nuget FSharp.Formatting
  nuget FSharpApiSearch.Console >= 2.0.0-beta1
  nuget Fake.Persimmon

  github fsdn-projects/fsdn-logo:master fsdn_mono.png
  github fsdn-projects/fsdn-logo:master favicon.ico
  github fsharp/FAKE modules/Octokit/Octokit.fsx
  http https://github.com/fsdn-projects/FSDN.Database/releases/download/2016%2F09%2F29-232351/FSDN.Database.zip

group Doc
  source https://api.nuget.org/v3/index.json

  github hafuu/FSharpApiSearch:4ed79ee45e46a1fff1e4f9af5489abe63b68db9c README.md

group Test
  source https://api.nuget.org/v3/index.json

  nuget Persimmon

