source https://api.nuget.org/v3/index.json

nuget Suave
nuget Argu
nuget FSharpApiSearch

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget KuduSync.NET
  nuget Npm.js
  nuget FSharp.Formatting

  github hafuu/FSharpApiSearch:29ebeb281c70b1d260b95b56484b6b543ce2cd24 README.md
