<div class="col s8">
  <h2>Target Assemblies</h2>
  <div class="row" v-bind:class="{ 'hide': ! raised_error }">
    <div class="col s8 m6">
      <div class="card red darken-2">
        <div class="card-content white-text">
          <span class="card-title">Error!</span>
          <p>{{ error_message }}</p>
          <div class="card-action">
            <a href="https://github.com/pocketberserker/FSDN/issues">
              <span class="octicon octicon-issue-opened"></span>
              Report Issue
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="collection" v-bind:class="{ 'hide': raised_error }">
    <li class="collection-item" v-for="assembly in assemblies">
      <img v-bind:src="assembly.icon_url" alt="" width="32px" height="32px" v-if="assembly.icon_url"></img>
      {{ assembly.name }} {{ assembly.version }}
      <a href="https://www.nuget.org/packages/{{ assembly.name }}/{{ assembly.version }}" class="secondary-content" v-if="! assembly.checked"><i class="fa fa-arrow-circle-right"></i></a>
    </li>
  </ul>
</div>
