<div class="input-field col s10">
  <input placeholder="'a -> 'a" v-model="query" type="text" class="required" minlength="1">
</div>
<div class="row">
  <p class="col s4">
    <input type="checkbox" class="filled-in" v-model="strict" id="strict" />
    <label for="strict">Strict</label>
  </p>
  <p class="col s4">
    <input type="checkbox" class="filled-in" v-model="similarity" id="similarity" />
    <label for="similarity">Similarity</label>
  </p>
</div>
<button class="btn tooltipped" v-bind:class="{ 'disabled': invalid, 'waves-effect': valid, 'waves-light': valid }" v-on:click="search" data-position="bottom" data-delay="50" data-tooltip="search query requires non empty.">
  <i class="fa fa-search fa-inversex left"></i>
  Search
</button>
<ul class="collection">
  <li class="collection-item" v-for="result in search_results">
    {{ result.api.name }}
  </li>
</ul>
