<div id="search" class="col s12 m8 l9">
  <form v-on:submit.prevent="search()">
    <div class="input-field col s12">
      <input placeholder="'a -> 'a" id="search_query" v-model="query" type="text" class="required" minlength="1">
      <label for="search_query">Query</label>
    </div>
    <button class="btn tooltipped" v-cloak v-bind:class="{ 'disabled': ! valid, 'waves-effect': valid, 'waves-light': valid }" data-position="bottom" data-delay="50" data-tooltip="search query requires non empty.">
      <i class="fa fa-search fa-inversex left"></i>
      Search
    </button>
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-green-only" v-cloak v-show="progress">
       <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </form>
  <div class="row" v-cloak v-show="!(searched || raised_error)">
    <div class="col s12 m6">
      <div class="card light-blue darken-2">
        <div class="card-content white-text">
          <span class="card-title">Examples</span>
          <div class="collection">
            <a class="collection-item" v-on:click="search(&quot;'a -&gt; 'a&quot;)">'a -&gt; 'a</a>
            <a class="collection-item" v-on:click="search(&quot;?a -&gt; ?a&quot;)">?a -&gt; ?a</a>
            <a class="collection-item" v-on:click="search(&quot;id : 'a -&gt; 'a&quot;)">id : 'a -&gt; 'a</a>
            <a class="collection-item" v-on:click="search(&quot;map : _&quot;)">map : _</a>
            <a class="collection-item" v-on:click="search(&quot;(+) : _&quot;)">(+) : _</a>
            <a class="collection-item" v-on:click="search(&quot;? -&gt; list&lt;?&gt; -&gt; ?&quot;)">? -&gt; list&lt;?&gt; -&gt; ?</a>
            <a class="collection-item" v-on:click="search(&quot;DateTime -&gt; DayOfWeek&quot;)">DateTime -&gt; DayOfWeek</a>
            <a class="collection-item" v-on:click="search(&quot;string =&gt; int&quot;)">string =&gt; int</a>
            <a class="collection-item" v-on:click="search(&quot;(|_|) : Expr -&gt; ?&quot;)">(|_|) : Expr -&gt; ?</a>
            <a class="collection-item" v-on:click="search(&quot;List.* : _&quot;)">List.* : _</a>
            <a class="collection-item" v-on:click="search(&quot;new : string -&gt; Uri&quot;)">new : string -&gt; Uri</a>
            <a class="collection-item" v-on:click="search(&quot;'a -&gt; Option&lt;'a&gt;&quot;)">'a -&gt; Option&lt;'a&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" v-cloak v-show="raised_error">
    <div class="col s10 m8">
      <div class="card red darken-2">
        <div class="card-content white-text">
          <span class="card-title">Error!</span>
          <pre>{{error_message}}</pre>
          <div class="card-action">
            <a href="https://github.com/pocketberserker/FSDN/issues">
              <span class="octicon octicon-issue-opened"></span>
              Report Issue
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="collapsible popout" data-collapsible="expandable" v-show="searched && (! raised_error)">
    <li v-for="result in search_results">
      <div class="collapsible-header">
        <span><font color="#BDBDBD" v-if="result.api.name.class_name">{{ result.api.name.class_name }}.</font>{{ result.api.name.id }}: {{ result.api.signature }}</span>
      </div>
      <div class="collapsible-body">
        <ul class="collection" id="assembly_info">
          <li class="collection-item" id="type_constraints" v-if="result.api.type_constraints">{{ result.api.type_constraints }}</span>
          <li class="collection-item" id="namespace" v-if="result.api.name.namespace">namespace: {{ result.api.name.namespace }}</li>
          <li class="collection-item" id="distance">distance: {{ result.distance }}</li>
          <li class="collection-item" id="kind">kind: {{ result.api.kind }}</li>
          <li class="collection-item" id="assembly">assembly: {{ result.api.assembly }}</li>
          <li class="collection-item" id="xml_doc" v-if="result.api.xml_doc">{{ result.api.xml_doc }}</li>
          <li class="collection-item" id="link" v-if="result.api.link"><a href="{{ result.api.link }}" target="_blank" />{{ result.api.link }}</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div id="search_options" class="col s12 m4 l3">
  <p>
    <input type="checkbox" class="filled-in" v-model="respect_name_difference" id="respect_name_difference" />
    <label for="respect_name_difference">respect-name-difference</label>
  </p>
  <p>
    <input type="checkbox" class="filled-in" v-model="greedy_matching" id="greedy_matching" />
    <label for="greedy_matching">greedy-matching</label>
  </p>
  <p>
    <input type="checkbox" class="filled-in" v-model="ignore_parameter_style" id="ignore_parameter_style" />
    <label for="ignore_parameter_style">ignore-parameter-style</label>
  </p>
  <p>
    <input type="checkbox" class="filled-in" v-model="ignore_case" id="ignore_case" />
    <label for="ignore_case">ignore-case</label>
  </p>
  <div class="card light-blue darken-2">
    <div class="card-content white-text">
      <span class="card-title">Target Assemblies</span>
      <div class="collection">
        <p class="collection-item" v-for="assembly in all_assemblies">
          <input type="checkbox" class="filled-in" id="{{assembly.name}}" value="{{assembly.name}}" v-model="assembly.checked" />
          <label for="{{assembly.name}}">{{assembly.name}}</label>
        </p>
      </div>
    </div>
  </div>
</div>
