source https://api.nuget.org/v3/index.json

nuget FSharp.Compiler.Service
nuget FSharp.Data
nuget FSharp.Collections.ParallelSeq
nuget FSharp.Control.AsyncSeq
nuget FSharp.ViewModule.Core
nuget FsPickler
nuget FParsec
nuget Argu
nuget FsUnit
nuget Suave
nuget Suave.Experimental
nuget Newtonsoft.Json
nuget FSharp.Control.Reactive
nuget FAKE.Lib
nuget NUnit