source https://api.nuget.org/v3/index.json

framework: net47

nuget FSharp.Compiler.Service
nuget FSharp.Data
nuget FSharp.Collections.ParallelSeq
nuget FSharp.Control.AsyncSeq
nuget FSharp.ViewModule.Core
nuget FsPickler
nuget FParsec
nuget Argu
nuget FsUnit
nuget Suave
nuget Suave.Experimental
nuget Newtonsoft.Json
nuget FSharp.Control.Reactive
nuget System.Reactive
nuget NUnit
nuget ExtCore

nuget Fake.Api.GitHub
nuget Fake.Api.HockeyApp
nuget Fake.Api.Slack
nuget Fake.Azure.CloudServices
nuget Fake.Azure.Emulators
nuget Fake.Azure.Kudu
nuget Fake.Azure.WebJobs
nuget Fake.BuildServer.AppVeyor
nuget Fake.BuildServer.GitLab
nuget Fake.BuildServer.TeamCity
nuget Fake.BuildServer.TeamFoundation
nuget Fake.BuildServer.Travis
nuget Fake.Core.CommandLineParsing
nuget Fake.Core.Context
nuget Fake.Core.Environment
nuget Fake.Core.Process
nuget Fake.Core.ReleaseNotes
nuget Fake.Core.SemVer
nuget Fake.Core.String
nuget Fake.Core.Target
nuget Fake.Core.Tasks
nuget Fake.Core.Trace
nuget Fake.Core.UserInput
nuget Fake.Core.Xml
nuget Fake.Documentation.DocFx
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Cli
nuget Fake.DotNet.Fsc
nuget Fake.DotNet.Fsi
nuget Fake.DotNet.FSFormatting
nuget Fake.DotNet.Mage
nuget Fake.DotNet.MSBuild
nuget Fake.DotNet.NuGet
nuget Fake.DotNet.Paket
nuget Fake.DotNet.Testing.Expecto
nuget Fake.DotNet.Testing.MSpec
nuget Fake.DotNet.Testing.MSTest
nuget Fake.DotNet.Testing.NUnit
nuget Fake.DotNet.Testing.OpenCover
nuget Fake.DotNet.Testing.SpecFlow
nuget Fake.DotNet.Testing.XUnit2
nuget Fake.DotNet.Xamarin
nuget Fake.Installer.InnoSetup
nuget Fake.IO.FileSystem
nuget Fake.IO.Zip
nuget Fake.JavaScript.Npm
nuget Fake.JavaScript.Yarn
nuget Fake.Net.Http
//nuget Fake.netcore
//nuget Fake.Runtime
nuget Fake.Sql.DacPac
nuget Fake.Testing.Common
nuget Fake.Testing.ReportGenerator
nuget Fake.Testing.SonarQube
nuget Fake.Tools.Git
nuget Fake.Tools.Pickles
nuget Fake.Tools.GitVersion
//nuget Fake.Tracing.NAntXml
nuget Fake.Windows.Chocolatey
nuget Fake.Windows.Registry