<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform
                  stdoutLogEnabled="false" stdoutLogFile="fsdn.log" startupTimeLimit="20"
                  processPath="%HOME%\site\wwwroot\FSDN.exe"
                  arguments="--port %HTTP_PLATFORM_PORT% --log-level verbose">
            <environmentVariables>
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
